.login{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}



.login input{
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: solid white 1px;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
::placeholder{
    color: rgba(222, 220, 220, 0.69);
}

.login button{
    background: transparent;
    width: 100px;
    padding: 0.5em;
    margin-bottom: 2em;
    border: solid white 1px;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}